
/*text*/
*{
  margin-left: 5px;
  margin-top: 5px;
}

a:link{
  color: black;
  text-decoration: none;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a:hover{
  color:#993333;
}

p {
  font: 15px Arial ;
}
h1 {
  font: 45px Arial ;
  float: left ;

}
body{
  font: 15px Arial ;
}

svg {
  /*display:inline;*/
  background-color:white;
  margin-left: 400px;
  padding: 130px;
  /*border-style: solid;*/
  /*border-width: thin;*/
  /*border-color: black;*/

}

#title {
  line-height:1;
}
#footer {
  text-align: right;
}

#header {
  width:250;
  margin: auto;
  float: left;
  clear: left;
}

#nav{
  font-size: 20px;
  margin-bottom: 30px;
  float: left ;
  clear: left ;
}

#home{
  font-size: 15px;
  margin-top:30px;
}

/*viz*/

.node {
  fill : lightgray;
  stroke: black;
  stroke-width: 1px;
}

.link {
  stroke: black;
}


circle.active {
  outline-style: solid;
  outline-color: red;
}

path.active {
  stroke: gray;
}

#nav li a {
  font-size: 1em ;
}
